@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@import url(/css/estilo.css);
@import url(/css/form.css);
@import url(/css/media.css);

:root {
    --fonte-titulos: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    --fonte-tabela: "Roboto Mono", monospace;
    --cor-fundo-formulario-tabela: linear-gradient(180deg, #b0e0e6, #e0ffff, #f0ffff);
}
